<!DOCTYPE html>
<html lang="en" ng-app="mapsApp">
<head>
    <meta charset="UTF-8">
    <title>Maps test</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/blocks/add-point.css">
    <link rel="stylesheet" href="/css/blocks/filters.css">
    <link rel="stylesheet" href="/css/blocks/balloon-content.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/dist/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmBEhvPCdJgUzEZcDGQqpFovs_H7uULc0&callback=initMap" async defer></script>
</head>
<body ng-controller="MapsCtrl">
    <div id="map"></div>
    <div id="addPointOverlay">
        <input class="add-point-btn" ng-click="addNewPoint()" ng-hide="showAddOverlay" type="button" value="Добавить точку" />
        <div class="add-point-form" ng-show="showAddOverlay">
            <div class="add-point-form-field">
                <label class="add-point-form-field-label" for="newPointName">Название места</label>
                <input id="newPointName" ng-model="newPoint.name">
            </div>
            <div class="add-point-form-field">
                <label class="add-point-form-field-label" for="newPointDesc">Описание места</label>
                <textarea id="newPointDesc" ng-model="newPoint.description"></textarea>
            </div>
            <div class="add-point-form-field">
                <label class="add-point-form-field-label">Тип точки</label>
                <div class="add-point-form-field-type-list">
                    <div class="add-point-form-field-type" ng-repeat="(key, value) in placeTypes">
                        <input id="place-type-{{key}}" type="radio" name="placeType" ng-model="newPoint.type" value="{{key}}">
                        <label for="place-type-{{key}}">{{value}}</label>
                    </div>
                </div>
            </div>
            <div class="add-point-form-field">
                <label class="add-point-form-field-label" for="newPointImg">Ссылка на фото</label>
                <input id="newPointImg" ng-model="newPoint.photo">
            </div>
            <input class="add-point-btn" ng-click="submitNewPoint()" type="button" value="Подтвердить" />
            <input class="add-point-btn" ng-click="cancelAddingPoint()" type="button" value="Отмена" />
        </div>
    </div>
    <div id="filterOverlay">
        <div class="filter-form" filter>
            <div class="filter-form-title">Фильтр точек</div>
            <div class="filter-form-field">
                <label class="filter-form-field-label">Название места</label>
                <input class="filter-form-field-value" ng-model="filter.name" />
            </div>
            <div class="filter-form-field">
                <label class="filter-form-field-label">Описание места</label>
                <input class="filter-form-field-value" ng-model="filter.description" />
            </div>
            <div class="filter-form-field">
                <label class="filter-form-field-label">Тип</label>
                <div class="filter-form-field-type-list"><div class="filter-form-field-type" ng-repeat="(key, value) in placeTypes">
                        <input id="filter-type-{{key}}" class="filter-form-field-value" type="checkbox" name="filterType" value="{{key}}" ng-model="filter.categories[key]"/>
                        <label for="filter-type-{{key}}">{{value}}</label>
                </div></div>
            </div>
            <div class="filter-form-field">
                <label class="filter-form-field-label">Наличие фото</label>
                <input class="filter-form-field-value" type="checkbox" ng-model="filter.hasPhoto" />
            </div>
        </div>
    </div>
</body>
</html>