#addPointOverlay{
    position: absolute;
    top: 20px;
    left: 20px;
    border: 1px #888 solid;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .15);
    }

.add-point-btn{

    }

.add-point-form-field{
    margin-bottom: 10px;
    }

.add-point-form-field-label{
    width: 130px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    padding-top: 5px;
    }

.add-point-form-field input:not([type]),
.add-point-form-field input[type='text'],
.add-point-form-field textarea{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    border: 1px solid #888;
    font-size: 14px;
    }

.add-point-form-field input:not([type]),
.add-point-form-field input[type='text']{
    padding: 3px 5px;
    }

.add-point-form-field textarea{
    padding: 5px;
    height: 60px;
    }

.add-point-form-field-type-list{
    width: 400px;
    display: inline-block;
    vertical-align: top;
    }

.add-point-form-field-type{
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 3px;
    }

.add-point-form-field-type label{
    display: inline-block;
    vertical-align: top;
    width: 178px;
    }
.add-point-form-field-type input{
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    }