.balloon-content{
    width: 400px;
    }

.balloon-content-img{
    float: left;
    width: 120px;
    margin-right: 15px;
    }

.balloon-content-name{
    font-weight: bold;
    font-size: 14px;
    }